{% extends "user/user_base.html" %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<section class="mt-4 d-flex justify-content-center align-items-center" style="background-color: #ffffff;">
    <div class="card mt-5 mb-4" style="border-radius: 15px; width: 650px;">
        <div class="card-body p-5">
            
            <h6 class="mb-3">{{ project.title }}</h6>
            <div class="message-container text-center mb-3">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <p style="color: green;">{{ message }}</p>
                        {% elif message.tags == 'info' %}
                            <p style="color: red;">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            
            <form class="mb-4" method="post" action="{% url 'todo:my_project' project.id %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline flex-fill">
                            <input type="text" id="form3" name="description" class="form-control form-control-lg" />
                            <label class="form-label" for="form3">What do you need to do?</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg">Add</button>
                        <a href="{% url 'todo:export_gist' project.id %} " class="btn btn-danger btn-lg me-2">Export</a>
                    </div>
                </div>
            </form>

            <h6 class="mb-3">Pending Tasks</h6>
            <ul class="list-group mb-0">
                {% for todo in pending_todos %}
                <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                    <div class="d-flex align-items-center">
                        <form method="post" action="{% url 'todo:update_todo_status' todo.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="completed" value="completed">
                            <button type="submit" class="btn btn-link text-decoration-none">{% if todo.status == 'completed' %}<i class="bi bi-check-square me-2"></i>{% else %}<i class="bi bi-square me-2"></i>{% endif %}{{ todo.description }}</button>
                        </form>
                       
                    </div>
                    <div>
                        
                        <!-- Edit and Delete buttons -->
                        <span class="text-muted ms-2" style="font-size: 12px;">{{ todo.created_date|date:"F j, Y" }}</span>
                        <a href="{% url 'todo:edit_todo' todo.id %}" class="btn btn-primary btn-sm" title="Edit todo">Edit</a>
                        <a href="{% url 'todo:delete_todo' todo.id %}" class="btn btn-danger btn-sm" title="Delete todo">Delete</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            
            <h6 class="mb-3">Completed Tasks</h6>
            <ul class="list-group mb-0">
                {% for todo in completed_todos %}
                <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-link text-decoration-none" disabled><i class="bi bi-check-square-fill me-2"></i>{{ todo.description }}</button>
                    </div>
                    <div>
                        <!-- Delete button -->
                        <span class="text-muted ms-2" style="font-size: 12px;">{{ todo.created_date|date:"F j, Y" }}</span>
                        <a href="{% url 'todo:delete_todo' todo.id %}" class="btn btn-danger  btn-sm" title="Delete todo">Delete</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
</section>
<script>
    // JavaScript code to handle todo editing
    document.addEventListener('DOMContentLoaded', function() {
        const editButtons = document.querySelectorAll('.edit-todo-btn');
        editButtons.forEach(btn => {
            btn.addEventListener('click', function() {
                const todoId = btn.getAttribute('data-todo-id');
                const todoDescription = prompt('Enter the new todo description:');
                if (todoDescription) {
                    // Create a new form data object
                    const formData = new FormData();
                    formData.append('description', todoDescription);

                    // Send a POST request to update the todo
                    fetch(`/edit_todo/${todoId}`, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: formData
                    })
                    .then(response => {
                        if (response.ok) {
                            // Reload the page to see the updated todo list
                            window.location.reload();
                        } else {
                            console.error('Error updating todo');
                        }
                    })
                    .catch(error => console.error('Error:', error));
                }
            });
        });
    });

</script>

{% endblock %}
